html {
  height: 100vh;
}

body,
:root {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hangman-drawing {
  position: relative;
}

.base {
  position: absolute;
  height: 10px;
  width: 300px;
  background: black;
  top: 600px;
  left: -145px;
}

.column {
  width: 10px;
  height: 600px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.row {
  width: 200px;
  height: 10px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.small-column {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 0;
  left: 200px;
}

.head {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 100px;
  left: 200px;
  border: solid 10px;
  border-radius: 100%;
  transform: translateX(-30px);
}

.body {
  width: 10px;
  height: 200px;
  background: black;
  position: absolute;
  top: 170px;
  left: 200px;
}

.left-arm {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 200px;
  left: 160px;
  transform: rotate(130deg);
}

.right-arm {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 200px;
  left: 240px;
  transform: rotate(-130deg);
}

.left-leg {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 355px;
  left: 175px;
  transform: rotate(30deg);
}

.right-leg {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 355px;
  left: 225px;
  transform: rotate(-30deg);
}
